node_modules/
build*/
public/
cache/
.venv/
*.bak
jupyter/
/**/feelppdb/
/**/__pycache__/
dist/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

*.whl
/**/*.egg-info

.venv*


# Latex compilation
project/presentation/v0/*
!project/presentation/v0/slides-benchmarking.tex
project/report/v0/*
!project/report/v0/report-benchmarking.tex