node_modules/
build*/
public/
cache/
.venv/
*.bak
jupyter/
/**/feelppdb/
/**/__pycache__/
dist/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

*.whl
/**/*.egg-info

.venv*


# Latex compilation folders
project/presentation/*
!project/presentation/slides-benchmarking.tex
project/report/*
!project/report/report-benchmarking.tex

# ReFrame jobs
src/feelpp/benchmarking/reframe/regressionTests/output/
src/feelpp/benchmarking/reframe/regressionTests/perflogs/
src/feelpp/benchmarking/reframe/regressionTests/stage/

/toolboxes_reframe_reports/