pipx==1.7.1
build==1.2.2
pyproject-metadata==0.8.0
ipykernel==6.29.5
numpy==2.1.1
scipy==1.14.1
plotly==5.24.1
setuptools==75.1.0
nbformat==5.10.4
Jinja2==3.1.4
ReFrame-HPC==4.6.2
pandas==2.2.2
nbmake==1.5.4
