pipx
build
#scikit-build >= 0.8.1
#scikit_build_core
pyproject-metadata
ipykernel
numpy
scipy
plotly
setuptools >= 68.0.0
nbformat>=4.2.0
Jinja2
reframe-hpc
pandas
nbmake >= 1.5
traitlets >= 5.10
tabulate
bottleneck >= 1.3.4
scikit-learn
jsonschema
girder_client