{% macro includeGraphics(imageNode,styles,context={}) %}
{% set img_filename = imageNode.downloadImage(context.attachments_dirpath~"/"~context.uuid) %}
{% set img_url = (context.attachments_base_url or context.attachments_dirpath)~"/"~context.uuid~"/"~img_filename %}
{% if 'img-fluid' in styles %}
\includegraphics[width=\linewidth]{ {{img_url}} }
{% else %}
\includegraphics{ {{img_url}} }
{% endif %}
{% endmacro %}

{% macro render(imageNode, data, make_block = True,context={}) %}
{% set caption = imageNode.caption or "" %}
{% set alt = imageNode.alt or "" %}
{% set styles = imageNode.style or [] %}
{% if make_block %}
\begin{figure}[ht!]
    \centering
    {{-includeGraphics(imageNode,styles,context = context)-}}
    {% if caption %}
    \caption{ {{ caption }} }
    {% endif %}
    {% if alt %}
    % Alt text: {{ alt }}
    {% endif %}
    {% if imageNode.id %}
    \label{ {{imageNode.id}} }
    {% endif %}
\end{figure}
{%else%}
{{-includeGraphics(imageNode,styles,context = context)-}}
{% if caption %}\subcaption{{'{'}}{{caption}}{{'}'}}{% endif %}
{% if imageNode.id %}
\label{ {{imageNode.id}} }
{% endif %}
{% endif %}
{% endmacro %}