{% macro render(imageNode, data) %}

{% set src = imageNode.src %}
{% set caption = imageNode.caption or "" %}
{% set alt = imageNode.alt or "" %}
{% set styles = imageNode.style or [] %}

\begin{figure}[ht!]
    \centering
    {% if 'img-fluid' in styles %}
    \includegraphics[width=\linewidth]{ {{ src }} }
    {% else %}
    \includegraphics{ {{ src }} }
    {% endif %}
    {% if caption %}
    \caption{ {{ caption }} }
    {% endif %}
    {% if alt %}
    % Alt text: {{ alt }}
    {% endif %}
    {% if imageNode.id %}
    \label{ {{imageNode.id}} }
    {% elif imageNode.caption %}
    \label{ fig:{{imageNode.caption | replace(' ','-')}} }
    {% endif %}
\end{figure}

{% endmacro %}
