{% import "macros/text.tex.j2" as text %}

{% macro render(listNode, data,context={}) %}

\begin{itemize}
{% for item in listNode.items %}
  \item {{ text.render(item, data,context=context) }}
{% endfor %}
\end{itemize}

{% endmacro %}
