{% import "macros/text.tex.j2" as text %}



{% macro render(tableNode, data) %}

{% set table_controller = TableController(data.get(tableNode.ref), tableNode.layout, tableNode.style) %}
{% set table = table_controller.generate() %}
{% set cols_align = table_controller.getColsAlignment(format="tex") %}


\begin{table}[ht!]
    \centering
    {% if tableNode.caption %}
    \caption{ {{ tableNode.caption }} }
    {% endif %}
    \label{table:{{ tableNode.ref }}}
    \begin{tabular}{ {{ cols_align }} }
    \hline
    {% for col in table.columns %}{{ col }}{% if not loop.last %} & {% endif %}{% endfor %} \\
    \hline
    {% for row in table.itertuples(index=False) %}
        {% for cell in row %}{{ cell }}{% if not loop.last %} & {% endif %}{% endfor %} \\
    {% endfor %}
    \hline
    \end{tabular}
\end{table}

{% endmacro %}
