name: {{project_name}}
title: {{project_title}}
version: ~
start_page: index.adoc
asciidoc:
  attributes:
    project_name: {{project_title}}
    numbered: true
    dynamic-blocks@: ''
    allow-uri-read: true
    hide-uri-scheme: true
nav:
  - modules/ROOT/nav.adoc