
{%set json_report_ctrl = JsonReportController.initFromLoaded( report, report_data, output_format="tex" )%}
{% set rendered_latex_path = json_report_ctrl.render(attachments_dirpath,"report.tex",attachments_dirpath=attachments_dirpath~"/data" ) %}
++++
<a href="{{rendered_latex_path}} dowload> LaTeX </a>"
++++
