{% set context = {
    "attachments_dirpath": attachments_dirpath,
    "attachments_base_url": attachments_base_url,
} %}

\documentclass[11pt]{report}

\usepackage{graphicx}
\usepackage{pgf-pie}  % For pie charts
\usepackage{currfile} % Required for getting the current file name
\usepackage{tikz}     % Required for drawing graphics
\usepackage{pgfplots}
\usepackage{pgfplotstable}
\usepackage{underscore}
\usepackage{amsfonts}
\usepackage{hyperref}
\usepackage{xurl}
\usepackage{subcaption}
\usepackage[parfill]{parskip}

\setlength{\parindent}{0pt}
\usepgfplotslibrary{fillbetween}

{% for package in report.extra_packages %}
\usepackage{{"{"}}{{package}}{{"}"}}
{% endfor %}
\pgfplotsset{compat=newest}

\begin{document}

{% import "macros/section.tex.j2"    as section %}

{{ section.render(report, report_data, 1,context=context) }}

\end{document}