\DeclareRobustCommand{\plot}[2][]{
  \begin{tikzpicture}
    \begin{axis}[
      width=0.95\textwidth, height=\linewidth,
      xlabel={ {{xaxis.label}} }, ylabel={ {{yaxis.label}} },
      xtick=data, xtick align=outside,
      ylabel style={font=\scriptsize},
      xlabel style={font=\scriptsize},
      ymajorgrids=true, yminorgrids=true,
      xticklabels from table={{'{#2}'}}{{'{'}}{{xaxis.parameter}}{{'}'}},
      xticklabel style={rotate=45, anchor=east, font=\scriptsize},
      yticklabel style={font=\scriptsize},
      cycle list name=color list,
      legend to name=customlegend,
      legend style={font=\small}
    ]
    {% for col in columns %}
      {% if col not in fill_lines %}
      \addplot+[mark=*,mark size=0.7pt] table [x expr=\coordindex, y={{ col }}] {{'{#2}'}} ;
      \addlegendentry{ {{col}} }
      {% endif %}
    {% endfor %}

    {% for fill_col in fill_lines %}
      \addplot[black, name path={{fill_col}}] table [x expr=\coordindex, y={{ fill_col }}] {{'{#2}'}} ;
      \addlegendentry{ {{fill_col}} }
    {% endfor %}
    {% if fill_lines %}
        \addplot[black, fill opacity=0.2] fill between[of={{fill_lines[0]}} and {{fill_lines[-1]}}];
    {% endif %}

    \end{axis}
  \end{tikzpicture}
}


{% for fn in csv_filenames %}
\pgfplotstableread[col sep=comma]{{'{\detokenize{'}}{{fn}}{{'}}'}}\data{{loop.index | inttouniquestr }}
{% endfor %}


\begin{figure}[H]
  \centering
  {% if anim_dimension_values %}
    {% set n = anim_dimension_values | length %}
    {% set ncols = (n**0.5) | round(0, 'ceil') %}
    {% set nrows = (n / ncols) | round(0, 'ceil') %}
    {% set subfig_width = ((0.95 / ncols) | round(3)) %}

    {% for dim in anim_dimension_values %}
      \begin{subfigure}[t]{ {{subfig_width}}\textwidth} % adjust width as needed
        \centering
        \plot{\data{{ loop.index | inttouniquestr }}}
        \caption{ {{secondary_axis.label}}={{dim}} }
      \end{subfigure}
      {% if (loop.index0 + 1)  % ncols == 0 %}
        \par\vspace{1em}
      {% endif %}
    {% endfor %}
  {% else %}
    \plot{\data{{1 | inttouniquestr }}}
  {% endif %}
  \vspace{1em}
  \centering
  \pgfplotslegendfromname{customlegend}
  \caption{ {{caption}} }
\end{figure}