= Overview
:page-plotly: true
:page-jupyter: true
:page-tags: toolbox, catalog
:parent-catalogs: {{parent_catalogs}}
:description: 
:page-illustration: ROOT:overview.png
:revdate: 

{% for parent in parents %}
    - {{parent.type.title()}} : {{parent.display_name}}
{% endfor %}

{% for figure in figures %}
++++
{{figure}}
++++
{% endfor %}



++++
<style>
details>.title::before, details>.title::after {
    visibility: hidden;
}
details>.content>.dynamic-py-result>.content>pre {
    max-height: 100%;
    padding: 0;
    margin:16px;
    background-color: white;
    line-height:0;
}
</style>
++++