= Overview
:page-plotly: true
:page-jupyter: true
:page-tags: toolbox, catalog
:parent-catalogs: {{parent_catalogs}}
:description: 
:page-illustration: 
:revdate: 


- Application : {{ application.display_name }}
- Use Case : {{ use_case.display_name }}
- Machine : {{ machine.display_name }}

[%dynamic%close%hide_code,python]
----
from numpy import nan
from feelpp.benchmarking.report.base.controller import Controller
from feelpp.benchmarking.report.base.model import AggregationModel
from feelpp.benchmarking.report.base.view import View
----

[%dynamic%close%hide_code,python]
----
model=AggregationModel.fromDataframe({{ reports_df }})
view=View({{ application.overview_plots }})
controller=Controller(model,view)
----

[%dynamic%open%hide_code,python]
----
for fig in controller.generateAll():
    fig.show()
----

++++
<style>
details>.title::before, details>.title::after {
    visibility: hidden;
}
details>.content>.dynamic-py-result>.content>pre {
    max-height: 100%;
    padding: 0;
    margin:16px;
    background-color: white;
    line-height:0;
}
</style>
++++