
- Feel++ Benchmarking Version : {{feelpp_benchmarking_version}}

== Overview

=== Latest benchmarks

{% if "leaves" in aggregated["data"] %}
{% set agg = {
    "date":"first",
    "runs.num_failures": "max"
} %}

{% if "machines" in aggregated["data"].columns %}
{%set agg = dict(agg,**{"machines":"first"}) %}
{% endif %}

{% if "applications" in aggregated["data"].columns %}
{%set agg = dict(agg,**{"applications":"first"}) %}
{% endif %}

{% if "use_cases" in aggregated["data"].columns %}
{%set agg = dict(agg,**{"use_cases":"first"}) %}
{% endif %}

{%set df = aggregated["data"].groupby("leaves").agg(agg).reset_index(drop=True).sort_values("date",ascending=False).head(15) %}



[cols="^1,^2,^1,^1,^1, options="header"]
|===

| Status | Date | machine | application | Use Case
{% for row in df.to_dict(orient="records") %}
|{% if row["runs.num_failures"] == 0 %}🟢{% else %}🔴{% endif %} | {{ row["date"] }} | {{ row["machines"] }} | {{ row["applications"] }} | {{ row["use_cases"] }}
{% endfor %}

|===
{% endif %}