{% for figure in figures %}
++++
<button id="download-csv-{{parent_catalogs}}-{{loop.index}}" > CSV </button>
{{figure}}
++++
{% endfor %}


++++
<script>
function downloadString(data, filename) {
    const blob = new Blob([data], { type: 'text/csv' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
}

function addDownloadListener( button_id, data, filename ) {
    document.getElementById(button_id).addEventListener('click', function() {
        downloadString(data,filename)
    });
}

{% for csv in figure_csvs %}
    addDownloadListener('download-csv-{{parent_catalogs}}-{{loop.index}}' , `{{csv | safe}}`, 'data.csv')
{% endfor %}

</script>
++++