= ReFrame logs

{% if script != "" %}
== ReFrame scheduler script

[source,bash]
----
{{ script }}
----
{% endif %}

{% if error_log != "" %}
== ReFrame error log

[source,bash]
----
{{ error_log }}
----
{% endif %}

{% if output_log != "" %}
== ReFrame output log

[source,bash]
----
{{ output_log }}
----

{% for custom_log in custom_logs %}
== {{ custom_log.filename }}

[source,bash]
----
{{ custom_log.content }}
----
{% endfor %}

{% endif %}