
== Overview

{% include "summaryTable.adoc.j2" %}

{% for repository_type in aggregated["children_repositories"] %}
    {% if plots and repository_type in plots %}

    {% with figures_df = aggregated.get("data"), plots = plots.get(repository_type,{}).get(self_id,{})%}
        {%include "figures.adoc.j2" %}
    {% endwith %}
    {% endif %}
{% endfor %}
