:page-illustration: ROOT:report-icon.jpg
:description: {{machine}} - {{application}} - {{use_case}}

== Summary

- Use Case : {{ use_case }}
- application : {{ application }}
- Machine : {{ machine }}

=== Session

- Hostname : {{ rfm.session_info.hostname }}
- User : {{ rfm.session_info.user }}
- Time Start : {{ rfm.session_info.time_start }}
- Time End : {{ rfm.session_info.time_end }}

=== Cases

- Total : {{rfm.session_info.num_cases }}
- Failures : {{rfm.session_info.num_failures }}
- Runs : {{rfm.runs|length }}

=== Parametrization

{% for run in rfm.runs %}
{% include "parameterTable.adoc.j2"%}
{% endfor %}

{% with figures_df = reframe_runs_df, plots = plots%}
    {%include "figures.adoc.j2" %}
{% endwith %}
