{% import "macros/image.adoc.j2" as image %}
{% import "macros/plot.adoc.j2"  as plot %}
{% import "macros/latex.adoc.j2" as latex %}
{% import "macros/text.adoc.j2"  as text %}
{% import "macros/table.adoc.j2" as table %}
{% import "macros/itemize.adoc.j2"  as itemize %}

{% set handlers = {
    "plot":   plot.render,
    "text":   text.render,
    "image":  image.render,
    "latex":  latex.render,
    "table": table.render,
    "itemize": itemize.render
} %}

{% macro render(gridNode,report_data) %}
[.grid.grid-{{gridNode.columns}}.grid-{{gridNode.gap}}.justify-{{gridNode.justify}}.align-{{gridNode.align}}]
--
{%for node in gridNode.contents%}
{% set handler = handlers.get(node.type) %}
{% if handler %}
{{ handler(node,report_data.get(node.ref)) }}
{% endif %}
{% endfor %}
--
{% endmacro %}
