{% macro render(imageNode,data) %}
{% set src = imageNode.src %}
{% set alt = imageNode.alt or imageNode.caption or "" %}
{% set styles = imageNode.style | join(' ')%}

{% if imageNode.caption %}
image::{{src}}[role="{{styles}}",alt={{alt}},title={{imageNode.caption}}]
{% else %}
image::{{src}}[role=""{{styles}}"",alt={{alt}}]
{% endif %}

{% endmacro %}
