{% macro render(plotNode,data) %}

++++

{% for figure in FiguresController(data,plotNode.plot).generateAll() %}
<div class='figure-container'>
    {% if figure.plot_types | length > 1%}
    <div class='tabs-container'>
    {% for plot_type in figure.plot_types %}
    {% set plot_type_i = loop.index %}
        <button class='figure-tab' onclick='switchTab(this, {{plot_type_i}})'>{{plot_type}}</button>
    {% endfor %}
    </div>
    {% endif %}

    {% for subfigure in figure.subfigures %}
      <div class="subfigure-container {% if loop.first %}active{% else %}inactive{% endif %}" data-subfigure="{{loop.index}}">

        <div class='export-container'>
        {% for export in subfigure.exports %}
            <button onclick='downloadData({{export.data | tojson | stripquotes}},"download.zip")' >
                {{export.display_text}}
            </button>
        {% endfor %}
        </div>

        {{subfigure.html}}
    </div>
    {% endfor %}
</div>

{% endfor %}

++++

{% endmacro %}