{% macro render(plotNode,data, make_block=True) %}


{% if plotNode.id %}
[[{{plotNode.id}}]]
{% elif plotNode.caption %}
[[{{plotNode.caption | replace(' ','-')}}]]
{% endif %}
{% if make_block %}
[example.plot]
{% endif %}
{%if plotNode.caption %}
.{{plotNode.caption}}
{% endif %}
{% if make_block %}
====
{% endif %}
++++

{% for figure in FiguresController(data.get(plotNode.ref),plotNode.plot).generateAll() %}
<div class='figure-container'>
    {% if figure.plot_types | length > 1%}
    <div class='tabs-container'>
    {% for plot_type in figure.plot_types %}
    {% set plot_type_i = loop.index %}
        <button class='figure-tab' onclick='switchTab(this, {{plot_type_i}})'>{{plot_type}}</button>
    {% endfor %}
    </div>
    {% endif %}

    {% for subfigure in figure.subfigures %}
      <div class="subfigure-container {% if loop.first %}active{% else %}inactive{% endif %}" data-subfigure="{{loop.index}}">
        {{subfigure.html}}

        <div class='export-container'>
        {% for export in subfigure.exports %}
            <button onclick='downloadData({{export.data | tojson | stripquotes}},"download.zip")' >
                {{export.display_text}}
            </button>
        {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>

{% endfor %}

++++
{% if make_block %}
====
{% endif %}

{% endmacro %}