{% macro render(tableNode, data) %}

{%set table_controller = TableController(data.get(tableNode.ref),tableNode.table) %}
{%set table = table_controller.generate() %}

{%if tableNode.title %}
*{{tableNode.title}}*
{% endif %}

{% if tableNode.table.style.classnames %}
[{% for classname in tableNode.table.style.classnames %}.{{classname}}{% endfor %}]
{% endif %}
--
[cols="{{ table_controller.getColsAlignment() }}",options="header"]
|===

{% for col in table.columns %}|{{ col }}{% endfor %}

{% for row in table.itertuples(index=False) %}
{% for cell in row %}|{{ cell }}{% endfor %}

{% endfor %}

|===
{%if tableNode.filter %}
++++
<input type="text" id="filter_{{tableNode.title}}_table" placeholder="{{tableNode.filter.placeholder}}" style="{{tableNode.filter.style}}">
++++
{% endif %}
--

{% if 'sortable' in tableNode.table.style.classnames %}
++++
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const table = document.querySelector('.sortable table');
    initTable(table, 'filter_{{tableNode.title}}_table');
  });
</script>
++++
{% endif %}

{% endmacro %}