:example-caption: Figure
{% if report.description %}
:description: {{ report.description }}
{% endif %}
{% if report.datetime %}
:docdatetime: {{ report.datetime }}
{% endif %}


{% set context = {
    "uuid": uuid,
    "attachments_dirpath": attachments_dirpath,
    "attachments_base_url": attachments_base_url
} %}

{% import "macros/section.adoc.j2"    as section %}
{{ section.render(report, report_data, 1, context=context) }}

{% if include_latex_download %}
{% set json_report_ctrl = JsonReportController.initFromLoaded(uuid, report, report_data, output_format="tex" ) %}
{% set rendered_latex_path = json_report_ctrl.exportAsZip(attachments_dirpath~"/"~uuid,"report" ) %}
++++
<a class="download-btn latex-btn" href="{{attachments_base_url~"/"~uuid~"/report.zip"}}" dowload> LaTeX </a>
++++
{% endif %}