:example-caption: Figure
{% if report.description %}
:description: {{ report.description }}
{% endif %}
{% if report.datetime %}
:docdatetime: {{ report.datetime }}
{% endif %}


{% set context = {
    "attachments_dirpath": attachments_dirpath,
    "attachments_base_url": attachments_base_url
} %}

{% import "macros/section.adoc.j2"    as section %}
{{ section.render(report, report_data, 1, context=context) }}