:imagesprefix:
ifdef::env-github,env-browser,env-vscode[:imagesprefix: ../images/]
= {{title}}
:page-layout: manuals
:page-cards-tag: benchmark
:page-tags: dashboard_index
:page-cards-within-module: false
:docdatetime: {{datetime}}
{% for template in extra_templates %}
    {% include template %}
{% endfor %}