= {{title}}
:page-layout: toolboxes
:page-tags: catalog, toolbox, {{self_id}}
:parent-catalogs: {{parent_ids}}
:description: {{description}}
:page-illustration: {{card_image}}

- {{breadcrumbs}}

{% for template in plugin_templates %}
    {% include template %}
{% endfor %}