:leveloffset: +1

{% macro render_plot(figures_df, plot) %}
{% with figures_df=figures_df, plots=[plot.model_dump()] %}
    {% include "figures.adoc.j2"%}
{% endwith %}
{% endmacro %}


{% macro render_image(image) %}
{% set src = image.src %}
{% set alt = image.alt or "" %}

{% if image.caption %}
image::{{src}}[{{alt}},title={{image.caption}}]
{% else %}
image::{{src}}[{{alt}}]
{% endif %}

{% endmacro %}

{% macro render_latex(latex_node) %}

[stem]
++++
{{ latex_node.latex }}
++++

{% endmacro %}

{% macro render_section(section, level=1) %}
{{'=' * level }}  {{ section.title }}

{% for child in section.content %}
{% if child.type == "text" %}
{{ child.text }}
{% elif child.type == "plot" %}
{{ render_plot(dataframe, child.plot) }}
{% elif child.type == "section" %}
{{ render_section(child, level + 1) }}
{% elif child.type == "image" %}
{{ render_image(child) }}
{% elif child.type == "latex" %}
{{ render_latex(child) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% set json_report_controller = JsonReportController(config) %}


{% for contentNode in json_report_controller.generateReport() %}

{% if contentNode.type == "plot" %}
{{render_plot(dataframe,contentNode.plot)}}
{% elif contentNode.type == "text" %}
{{ contentNode.text }}
{% elif contentNode.type == "section" %}
{{ render_section(contentNode, 1) }}
{% elif child.type == "image" %}
{{ render_image(child) }}
{% elif child.type == "latex" %}
{{ render_latex(child) }}
{% endif %}

{% endfor %}
