= {{title}}
:page-plotly: true
:page-jupyter: true
:page-tags: toolbox, catalog
:parent-catalogs: {{parent_ids}}
:page-illustration: {{card_image}}
{% for template in extra_templates %}
    {% include template %}
{% endfor %}