= {{title}}
:page-layout: manuals
:page-cards-within-module: false
:page-cards-tag: benchmark,report,machine,application,usecase,example
:page-tags: {{card_type or 'benchmark'}}, {{self_id}}
:parent-catalogs: {{parent_ids}}
:description: {{description}}
:page-illustration: {{card_image}}
{% for template in extra_templates %}
    {% include template %}
{% endfor %}