{% set machine = session_info.hostname | convert_hostname  %}

= Reframe Report for {{ machine }}
:page-plotly: true
:page-jupyter: true
:page-tags: case
:description: Performance report for {{ machine }} on {{ session_info.time_end }}
:page-illustration: {{ machine }}.jpg
:author: Your Name
:revdate: {{ session_info.time_end }}

== Test Summary

* Total Tests: {{ session_info.num_cases }}
* Failures: {{ session_info.num_failures }}
* Testcases
{% for run in runs %}
    {% for test in run.testcases %}
** {{ test.display_name }}
{% if test.check_vars.env_vars %}
[source,json]
----
{{ test.check_vars.env_vars }}
----
{% endif %}
    {% endfor %}
{% endfor %}


[%dynamic%close,python]
----
from feelpp.benchmarking.reframe.report import Report
report=Report(file_path="docs/modules/{{ filename }}")
----

=== Performance by Simulation Steps 

[%dynamic%raw%open,python]
----
fig=report.plotPerformanceByStep()
fig.show()
----

=== Performance by Number of Tasks

[%dynamic%raw%open,python]
----
fig=report.plotPerformanceByTask()
fig.show()
----

=== Speedup of the simulation Steps

.Speedup
[%dynamic%raw%open,python]
----
print(report.speedup())
fig=report.plotSpeedup()
fig.show()
----
