name: Benchmark Deploy

on:
    pull_request:
        types: [closed]

jobs:
    accepted:
        if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'new-benchmark')
        runs-on: self-feelpp
        env:
            GIRDER_API_KEY: ${{ secrets.GIRDER }}
        name: Move to production
        steps:
        -   uses: actions/checkout@v5

        -   uses: astral-sh/setup-uv@v5

        -   name: Sync Deps
            run: uv sync

        -   name: Download stage reports
            run: |
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                feelpp-girder download -gid $staging_folder_id -o ./tmp/ -d

        -   name: Download Production config
            run: |
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                feelpp-girder download -gid $production_website_config_id -o ./configs_tmp/ -fn production_config.json

        -   name: Merge stage configs
            run: |
                source .venv/bin/activate
                merge-json-configs -fp "./tmp/**/website_config.json" -o ./configs_tmp/stage_config.json -u

        -   name: Update Stage Config
            run: |
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                update-stage-config -stag ./configs_tmp/stage_config.json -prod ./configs_tmp/production_config.json -prodid $production_folder_id

        -   name: Merge stage and prod configs
            run: |
                source .venv/bin/activate
                merge-json-configs -fp "./configs_tmp/**/*.json" -o ./configs_tmp/website_config.json

        -   name: Upload New Website config
            run: |
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                feelpp-girder upload --item ./configs_tmp/website_config.json --girder_id $production_folder_id

        -   name: Cleanup stage folder
            run: |
                echo "Moving all folders from staging/ to merged/"
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                feelpp-girder move -oid $staging_folder_id -nid $accepted_folder_id

    denied:
        if: github.event.pull_request.merged == false && contains(github.event.pull_request.labels.*.name, 'new-benchmark')
        runs-on: self-feelpp
        env:
            GIRDER_API_KEY: ${{ secrets.GIRDER }}

        name: Move to denied
        steps:
        -   uses: actions/checkout@v5

        -   uses: astral-sh/setup-uv@v5

        -   name: Sync Deps
            run: uv sync

        -   name: Cleanup stage folder
            run: |
                echo "Moving all folders from staging/ to denied/"
                source .venv/bin/activate
                source ./girder_deploy_config.sh
                feelpp-girder move -oid $staging_folder_id -nid $denied_folder_id